<ng-container *ngIf="userRole == 'Admin'">
   <app-admin-navbar></app-admin-navbar>
</ng-container>
<ng-container *ngIf="userRole == 'Engineer'">
    <app-engineer-navbar></app-engineer-navbar>
 </ng-container>
 <ng-container *ngIf="userRole == 'Manager'">
    <app-manager-navbar></app-manager-navbar>
 </ng-container>
 <ng-container *ngIf="userRole == 'Team Lead'">
    <app-team-lead-navbar></app-team-lead-navbar>
 </ng-container>
 <ng-container *ngIf="userRole == null">
    <app-navbar></app-navbar>
 </ng-container>

<router-outlet></router-outlet>
